<md-toolbar>
    <app-upload-file (onFileLoaded)="onFileLoaded($event)"></app-upload-file>

</md-toolbar>
<p *ngIf="selectedPath">From: {{selectedPath.fromNode}}, To: {{selectedPath.toNode}}</p>
<div>
  <app-escher *ngIf="file" [mapData]="file" (path)="onPathClicked($event)"></app-escher>
</div>
<div *ngIf="nodes.length > 0">
  <h3>Nodes for each node_type</h3>
  <ul >
    <li *ngFor="let node of nodes"><b>{{node.nodeType }}</b> {{node.size}}</li>
  </ul>
</div>
<div *ngIf="genes.length > 0">
  <h3>Genes that are part of more than one reaction</h3>
  <ul >
    <li *ngFor="let gene of genes"><b>{{gene.name}}</b> is part of {{gene.count}} reactions</li>
  </ul>
</div>